:root {
    --blue-main: #353370;
    --blue-primary: rgb(2, 68, 128);
    --orange-main: #e94116;
    --widht-soft: #eaeaeb;
    --brown-base: rgb(69, 51, 40);
}

/* DESCRIPTION */
#section-description {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 1.5em; */
}
#section-description .card {
    box-shadow: 2px 0px 4px var(--brown-base), 0 2px 3px var(--widht-soft),
        -2px 0px 4px var(--brown-base), 0 -2px 3px var(--widht-soft);
}

#section-description .content-image {
    border-radius: 10px;
    overflow: hidden;
}
#section-description img {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}
