:root {
    --blue-main: #353370;
    --blue-primary: rgb(2, 68, 128);
    --orange-main: #e94116;
    --widht-soft: #eaeaeb;
    --brown-base: rgb(69, 51, 40);
}

/* DESCRIPTION */
#section-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}
#section-description .content-image {
    border-radius: 10px;
    overflow: hidden;
}
#section-description img {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}
