:root {
    --blue-main: #353370;
    --blue-primary: rgb(2, 68, 128);
    --orange-main: rgb(233, 65, 22);
    --widht-soft: rgb(234, 234, 235);
    --brown-base: rgb(69, 51, 40);
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--blue-primary);
}

/* MEDIA */
#section-media * {
    border: none;
}
#section-media .card-img-overlay {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(233, 65, 22, 0),
        var(--blue-primary)
    );
}

/* SEARCH */
#section-search {
    background: linear-gradient(
        to top,
        var(--orange-main),
        var(--blue-primary)
    );
}
#search-core {
    margin-top: -50px;
    width: 100%;
    background-color: var(--blue-primary);
    box-shadow: 1px 0px 4px var(--brown-base), -1px 0px 4px var(--brown-base),
        0px -1px 4px var(--blue-primary);
}
#search-core .title-core,
#search-core .btn {
    background-color: var(--orange-main);
    box-shadow: 0px 0px 4px 2px var(--brown-base);
}
#search-message {
    color: var(--orange-main);
    font-weight: bold;
}
#content-figure img {
    filter: drop-shadow(2px 2px 6px var(--brown-base));
}

/* DESCRIPTION */
#section-description {
    background: linear-gradient(
        to bottom,
        var(--orange-main),
        var(--blue-primary)
    );
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
}
#section-description .content-image {
    border-radius: 10px;
    overflow: hidden;
}
#section-description img {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}
#section-description .content-text-description {
    background-color: rgba(233, 65, 22, 0.2);
    border-radius: 10px;
}
#section-description .content-text-description .text-description {
    color: var(--widht-soft);
}

.animationIn-LeftToRight {
    animation: animationIn-toRight 1s ease-out normal;
}

.animationIn-RightToLeft {
    animation: animationIn-toLeft 1s ease-out normal;
}

@keyframes animationIn-toRight {
    0% {
        transform: translateX(-150%) scale(0.5);
    }
}

@keyframes animationIn-toLeft {
    0% {
        transform: translateX(150%);
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #search-core {
        margin-top: -300px;
        width: 60%;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #search-core {
        margin-top: -400px;
        width: 50%;
    }
}
