:root {
    --blue-main: #353370;
    --blue-primary: #024480;
    --orange-main: #e94116;
    --widht-soft: #eaeaeb;
    --brown-base: #453328;
}

body {
    background-color: var(--widht-soft);
}

/* HEADER */
#section-header .navbar-brand img {
    height: 60px;
}
#section-header .nav-link {
    color: #e7653e;
    -webkit-text-stroke: 1px;
    font-family: 'Archivo Black', sans-serif;
}

/* MEDIA */
#section-media {
    height: 100vh;
    /* background-color: var(--brown-base); */
}
#section-media .card-img-overlay {
    background-color: var(--blue-primary);
    opacity: 0.3;
}

/* DESCRIPTION */
#section-description .content-image {
    border-radius: 10px;
    overflow: hidden;
}

/* FOOTER */
#section-footer {
    background-image: url('../img/background-orange.png');
    color: whitesmoke;
}
#section-footer hr {
    border: 2px solid var(--brown-base);
    border-radius: 2px;
    color: black;
}
